html {
  
  background-color: var(--color-primary-white-400);
  font-family: 'Montserrat', sans-serif;

  --size-0: 0.6rem;
  --size-1: 0.8rem;
  --size-2: 1rem;
  --size-3: 1.5rem;
  --size-4: 2rem;
  --size-5: 2.5rem;

  --color-primary-blue-100: rgb(192, 104, 232);
  --color-primary-blue-200: rgb(129, 132, 209);
  --color-primary-blue-300: rgb(58, 0, 229);
  --color-primary-blue-400: rgb(1, 4, 86);

  --color-primary-white-500: rgb(255, 255, 255);
  --color-primary-white-400: rgb(240, 240, 240);

  --color-primary-black-500: rgb(20, 20, 20);
  --color-primary-black-400: rgb(50, 50, 50);
  --color-primary-black-300: rgb(80, 80, 80);
  --color-primary-black-200: rgb(100, 100, 100);
  --color-primary-black-100: rgb(150, 150, 150);

  --color-secondary-red-400: rgb(226, 7, 7);
  --color-secondary-red-300: rgb(223, 69, 69);
  --color-secondary-red-200: rgb(240, 131, 131);
  --color-secondary-red-100: rgb(248, 193, 193);

  --color-secondary-green-400: rgb(27, 182, 23);
  --color-secondary-green-300: rgb(84, 200, 81);
  --color-secondary-green-200: rgb(141, 219, 139);
  --color-secondary-green-100: rgb(198, 237, 197);

  --color-secondary-gold-400: rgb(241, 182, 31);
  --color-secondary-gold-300: rgb(244, 200, 87);
  --color-secondary-gold-200: rgb(248, 219, 143);
  --color-secondary-gold-100: rgb(251, 237, 199);
}

h1,
ul,
ol,
a,
img,
p {
  margin: 0;
  padding: 0;
}
ul, ol{
  list-style: none;
}

a {
  text-decoration: none;
}
body{
  width: 95%;
  margin: 0 auto;
}
#mobile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: .5rem auto;
  padding: .5rem;
  background-color: var(--color-primary-white-500);
}

#side-nav{
  display: none;
  transition: all .4s ease-in-out;
}
#side-nav.active{
  display: block;
  position: absolute;
  top:3rem;

  background-color: var(--color-primary-white-500);
  width: 15rem;
  height: 100%;
}

/* #side-nav nav{
margin-left: .5rem;
} */

.nav-heading{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: .5rem;
  padding-right: .5rem;
  justify-content: space-between;

}
.nav-header{
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  color: var(--color-primary-blue-400);
}
.other-nav-header{
  font-family: "Poppins", sans-serif;
  font-size: .8rem;
  font-weight: bold;
  margin: 0;
  color: var(--color-primary-blue-300);
}
.nav-header-icon{
  width: 20px;
  height: 20px;
}

.other-links {
  margin-top:1rem;
  margin-bottom:1rem;

}

.nav-links{
  margin-left: 1rem;
  margin-top: .2rem;
}
.nav-links a{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 12rem;
}
.nav-links-image{
  width: 20px;
  margin-right: .2rem;
}
.nav-links-item{
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
  color: var(--color-primary-blue-400);
}
#logo {
    display: flex;
    align-items: flex-end;
    gap: .2rem;
  }
.hambuger{
    display: flex;
    flex-direction: column;  
}

.hambuger span{
    width: 1.5rem;
    height: .3rem;
    background-color: var(--color-primary-blue-400);
    margin: .1rem;
    transition: all .4s ease-in-out;
}

.hambuger.active{
  transition-delay: .8s;
  transform: rotate(45deg);
}
.hambuger.active >span:nth-child(2){
  width: 0;
}

.hambuger.active > span:nth-child(1),
.hambuger.active > span:nth-child(3){
  transition-delay: .4s;
}

.hambuger.active > span:nth-child(1){
  transform: translateY(9px);
}

.hambuger.active > span:nth-child(3){
  transform: translateY(-9px) rotate(90deg);
}

#logo-image {
  width: 30px;
}
#logo h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--color-primary-blue-400);
}

#profile-nav {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 10px;

  width: 84px;
  height: 20px;
}

.nav-icon {
  width: 20px;
}

#sign-in {
  display: flex;
  align-items: flex-end;
  width: 54px;
  height: 20px;
  justify-content: space-around;
}
#sign-in p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.6rem;
  color: var(--color-primary-blue-400);
}


footer{
  background-color: var(--color-primary-white-500);
  margin: 2rem 0;
  background-color: blue;
  padding: 1rem;
}

footer #logo h1{
  color: var(--color-primary-white-500);
}
footer #logo{
margin: 0 auto;
width: 10rem;
margin-bottom: .5rem;
}

#footer-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:20rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.footer-link{
  color: var(--color-primary-white-500);
}
#social-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem .5rem;
  border-top: solid 2px var(--color-primary-white-400);
}

.social-link img{
  width: 30px;
  color: var(--color-primary-blue-400);
}

#copyright{
  display: flex;
  justify-content: space-between;
  width:14rem ;
  margin: 0 auto;
}


#copyright p,
#copyright a{
  font-size: .8rem;
  color: var(--color-primary-white-500);
}